.header {
    position: relative;
    height: 100%;
    min-height: 860px;
    margin-bottom: -64px;
    background: url('../img/header-bg.png') no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    overflow: hidden;

    .img-center {
        margin: 0 auto;
        width: 250px;
    }

    .container {
        position: fixed;
        width: 100%;
        height: 100%;
        min-height: 860px;
        z-index: 2;
    }

    .row {
        margin: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 15%;
    }

    h1 {
        margin: 0;
        line-height: 74px;
        font-size: 52px;
        font-weight: 400;
        color: #39444C;
    }

    p {
        margin: 0;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: 400;
        color: #89949C;
    }

    span {
        display: inline-block;
        margin-bottom: 15px;

        .fa {
            margin-right: 5px;
        }
    }
}
