#navigation {
    padding: 0;
    background: transparent;
    transition: all .3s ease-out;

    .container {
        padding-top:25px;
        padding-bottom:25px;
        transition: padding .3s ease-out;
    }

    .navbar > .container {
        .navbar-brand {
            padding: 10px 0 5px 15px;
        }
    }

    .navbar-brand {
        position: relative;
    }

    #main-menu {
        a {
            padding: 7px 30px;
            min-width: 120px;
            font-size: 16px;
            font-weight: 6400;
            color: #89949C;
            text-align: center;
            background: none;
            transition: color .2s ease-out,
            padding .3s ease-out;
            &:hover,
            &:focus {
                padding-top: 4px;
                padding-bottom: 10px;
                color: #00CCCB;
                background: none;
            }

            .fa {
                display: block;
                margin-bottom: 5px;
                font-size: 21px;
                text-align: center;
            }
        }

        ul li + li {
            border-left: 1px solid #b9c4cC;
        }
    }
}

// Sandwich button style
$w: 28px;
$h: 3px;

.sandwich {
    width: $w;
    height: $w;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
}

.sw-topper {
    position: relative;
    top: 0;
    width: $w;
    height: $h;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    display: block;
    transition-delay: 0.2s, 0s;
}

.sw-bottom {
    position: relative;
    width: $w;
    height: $h;
    top: $h * 2.2;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
}

.sw-footer {
    position: relative;
    width: $w;
    height: $h;
    top: $h * 4.5;
    background: black;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s;
}

.sandwich.active {
    .sw-topper {
        top: 9px;
        transform: rotate(-45deg);
    }

    .sw-bottom {
        top: 6px;
        transform: rotate(45deg);
    }

    .sw-footer {
        opacity: 0;
        top: 0;
        transform: rotate(180deg);
    }
}
