#navigation {
    padding: 0;
    background: transparent;
    transition: all .3s ease-out;

    .container {
        padding-top:25px;
        padding-bottom:25px;
        transition: padding .3s ease-out;
    }

    .navbar > .container {
        .navbar-brand {
            padding: 10px 0 5px 15px;
        }
    }

    .navbar-brand {
        position: relative;
    }

    .fa {
        font-size: 26px;
    }

    .navbar-brand {
        color: #89949C;
        &:hover,
        &:focus {
            color: #00CCCB;
        }
    }
}

#main-menu {
    a {
        padding: 7px 30px;
        min-width: 120px;
        font-size: 16px;
        font-weight: 600;
        color: #89949C;
        text-align: center;
        background: none;
        transition: color .2s ease-out,
        padding .3s ease-out;
        &:hover,
        &:focus
         {
            padding-top: 4px;
            padding-bottom: 10px;
            color: #00CCCB;
            background: none;
        }

        .fa {
            display: block;
            margin-bottom: 5px;
            font-size: 21px;
            text-align: center;
        }
    }

    ul li + li {
        border-left: 1px solid #b9c4cC;
    }

    .active a {
        padding-top: 4px;
        padding-bottom: 10px;
        color: #00CCCB;
        background: none;
    }
}


// Style for navigation when user scrolled
#navigation.scrolled {
    background: #fff;
    border-bottom: 1px solid #b9c4cC;

    .container {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
// Style for navigation when user scrolled
