.portfolio {

    img {
        display: block;
        margin: 0 auto;
    }

    .row {
        margin-bottom: 40px;

    }

    .portfolio-item {
        display: block;
        position: relative;
        margin-bottom: 2px;
        overflow: hidden;
        background: #fff;
        &:hover .project-image {
            opacity: .3;
        }
        &:hover .hover-title {
           opacity: 1;
           transform: translateY(0);
           transition: all .4s ease-out;
        }

        .project-image {
            transition: all .4s ease-out;
        }

        .hover-title {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            padding: 20px 0;
            text-align: center;
            color: #fff;
            z-index: 2;
            opacity: 0;
            transform: translateY(20px);
            transition: all .4s ease-out;
            &:before {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #00CCCB;
                opacity: .9;
                z-index: -1;
            }

            h3 {
                position: absolute;
                width: 100%;
                bottom: 50%;
                margin: 0 0 10px;
                font-size: 21px;
                line-height: 21px;
                color: #fff;
                &:after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 25px;
                    height: 2px;
                    bottom: -13px;
                    left: 50%;
                    margin-left: -12px;
                    background: #fff;
                }
            }

            p {
                position: absolute;
                width: 100%;
                top: 50%;
                margin: 10px 0 0;
                font-size: 16px;
                line-height: 21px;
                font-style: italic;
            }
        }
    }

    .project-action {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 28px;
        font-weight: 300;
        color: #39444C;
    }
}

.p0 {
    margin: 0;
    padding: 0 1px;
}