.profile {
    font-size: 18px;
    color: #79848C;
    background: url(../img/about.jpg) no-repeat;
    background-attachment: fixed;

    p {
        text-indent: 20px;
        padding: 0;
        margin: 0;
    }

}

