.services {
    padding: 100px 0;

    .service-item {
        margin: 30px 0;
        padding: 0 45px;
        text-align: center;
        &:hover .service-icon {
            border-color: transparent;
        }
        &:hover i {
            font-size: 112px;
            transform: scale(1);
            text-shadow: 0px 0px 6px rgba(137, 148, 156, 1);
        }

        .service-icon {
            display: block;
            margin: 0 auto 30px;
            width: 180px;
            height: 180px;
            border: 1px solid #ddd;
            color: #89949C;
            border-radius: 50%;
            overflow: hidden;
            transition: all .2s ease-in;
        }

        i {
            display: block;
            font-size: 82px;
            line-height: 180px;
            transition: all .3s ease-in;

        }

        .fa {
            color: black;
        }

        span {
            font-size: 18px;
            font-weight: 400;
            color: #39444C;

        }
    }
}

.devider {
    border-top: 1px solid #b9c4cC;
    margin: 80px 0 80px
}

.action {
    text-align: center;
    padding: 100px 0;
    color: #fff;
    background-image: url(../img/polygon.png);
    background-color: #00CCCB;

    p {
        margin-bottom: 50px;
        font-size: 32px;
        font-weight: 400;
    }
}