.skills {
    text-align: center;
    background-image: url(../img/polygon.png);
    background-size: cover;

    .chart {
        position: relative;
        margin: 30px 0;
        display: inline-block;
        margin-bottom: 20px;
        height: 100px;
        display: inline-flex;

        .web-lang {
            display: block;
            margin: auto;
            position: absolute;
            width: 100%;
            font-size: 55px;
            text-align: center;
        }
    }

    .skill-level {
        display: block;
        margin: 0 0 20px;
        font-size: 21px;
        color: #69747C;
    }
}