/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    // Header Style Start
    .header {
        min-height: 768px;
        margin-bottom: -64px;

        .container {
            padding-top: 100px;
            min-height: 768px;
        }

        .row {
            top: 15%;
        }
    }
    // Header Style End

    // Servises Style Start
    .services {
        .service-item {
            padding: 0 15px;
        }
    }
    // Servises Style End

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    // Header Style Start
    .header {
        min-height: 810px;

        .container {
            min-height: 810px;
        }
    }
    // Header Style End

    // Servises Style Start
    .services {

        .service-item {
            &:hover i {
                font-size: 92px;
            }

            .service-icon {
                width: 150px;
                height: 150px;
            }

            i {
                font-size: 62px;
                line-height: 150px;
            }
        }
    }
    // Servises Style End
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    /*Disable Animation on Mobile Devices*/
    .scrollimation {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }

    // Header Style Start
    .header {
        min-height: 480px;
        margin-bottom: 0;

        .container {
            min-height: 480px;
        }

        .row {
            top: 140px;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 21px;
        }
    }
    // Header Style End

    // Navigation Style Start
    #navigation {
        background: #fff;
        border-bottom: 1px solid #b9c4cC;

        .navbar > .container {
            .navbar-brand {
                padding: 5px 0 5px 15px;
            }
        }

        #main-menu {
            a {
                padding:10px 30px;
                font-size: 18px;;
                &:hover,
                &:focus {
                    padding:10px 30px;
                }

                .fa {
                    display: none;
                }
            }
        }
    }
    // Navigation Style End

    // Section Style Start
        .section-title {
            font-size: 38px;
        }

    // Section Style End

    // Latest Works Style Start
    .works {
        text-align: center;

        .btn {
            margin-bottom: 30px;
        }
    }
    // Latest Works Style End

    // Profile Section Style Start
    .profile {
        font-size: 16px;
        text-align: center;

        p {
            text-indent: 0px;
        }
    }
    // Profile Section Style End

    // Portfolio Section Style Start
    .portfolio  {
        max-width: 360px;
        margin: 2px auto !important;
        margin-bottom: 20px;
    }
    // Portfolio Section Style End

    // Footer Section Style Start
    .footer {
        padding: 30px 0 20px;
        text-align: center;

        .social {
            margin-top: 20px;
            text-align: center
        }

        span {
            display: block;
            margin: 0 auto 15px;
        }
    }
    // Footer Section Style End

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}





