/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    // Navigation Style Start
    #navigation {
        background: #fff;
        border-bottom: 1px solid #b9c4cC;

        .navbar > .container {
            .navbar-brand {
                padding: 5px 0 5px 15px;
            }
        }

        #main-menu {
            a {
                padding:10px 30px;
                font-size: 18px;;
                &:hover,
                &:focus {
                    padding:10px 30px;
                }

                .fa {
                    display: none;
                }
            }
        }
    }
    // Navigation Style End

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}





