html, body{
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif ;
    font-size: 16px;
    color: #89949C;
    letter-spacing: .01em;
    overflow-x: hidden;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    color: #39444C;
}

a:focus,
button:focus {
    outline: none !important;
}

a {
    color: #00CCCB;
    transition: color .15s ease-out;
}

a:hover,
a:focus {
    color: #89949C;
    text-decoration: none;
}
