@import "base/variable.scss";
@import "base/typography.scss";
@import "base/mixin.scss";
@import "base/buttons.scss";
@import "base/forms.scss";
@import "base/table.scss";
@import "base/icons.scss";


@import "project/menu.scss";
@import "project/header.scss";
@import "project/footer.scss";
@import "project/section.scss";
@import "project/services.scss";
@import "project/profile.scss";
@import "project/skills.scss";
@import "project/works.scss";
@import "project/portfolio.scss";


@import "media/media.scss";